.box {
    margin-top: 24px;
}

.title {
    font-size: 1.5rem;
    line-height: 1.5;
}

.content {
    font-size: 1.2rem;
    line-height: 24px;
    padding-left: 8px;
}

.list {
    list-style: circle;
    margin-left: 24px;
}