.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    min-height: 100vh;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 24px 24px 0 24px;
}

.pageTitle {
    font-size: 3rem;
}

.divider {
    line-height: 1.5;
    margin: 12px 0;
}

.contactContainer {
    justify-content: space-between;
    width: 100%;
}

.sectionTitle {
    font-size: 2rem;
    margin-right: 32px;
}

.address {
    font-size: 1.5rem;
    margin-right: 24px;
}

.email {
    font-size: 1.5rem;
}

.text {
    line-height: 1.5;
    font-size: 1.4rem;
    margin-top: 12px;
}